.format-h3{
  padding-left: 50px;
}
.container-top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.itemtop {
max-width: 800px;
}
.format-img {
  width: 350px;
}

.container-middle {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
  margin-bottom: 0px;
}
.itemmiddle{

}

.format-h5{
  padding-left: 30px;
}