.container-middle {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
  margin-bottom: 0px;
}

.format-list {
  padding-left: 50px;
}
.container-box{
  display: flex;
  padding-left: 30px;
  padding-bottom: 40px;
}