.container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 70px 20px 20px 20px;
}

.container-left {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding-right: 30px;
  align-items: center;
}

.item-left1 {
  font-family: "Noto Serif JP";
  text-align: center;
  font-size: 36px;
}

.item-left2 {
  padding: 50px 0 50px 0;
}

.item-left3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 420px;
}

.img-Bruna {
  width: 400px;
  height: 400px;
}

.text-bio {
  font-family: "Noto Sans JP";
  font-size: 24px;
  line-height: 35px;
  color: #5A819E;
}

.name {
  font-family: "Dancing Script";
  font-size: 50px;
  line-height: 96px;
  color: #D35563;
}

.button-resume {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 58px;
  cursor: pointer;
  background: #5A819E;
  font-family: "Noto Sans JP";
  font-weight: 200;
  font-size: 30px;
  line-height: 43px;
  outline: none;
  color: #FFFFFF;
  transition-duration: 0.4s;
}

.button-resume:hover {
  background-color: hsl(206, 27%, 60%);
  color: white;
}

.bt-icon {
  padding-left: 10px;
}

@media (max-width: 576px) {
  .img-Bruna {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 576px) {
  .item-left2 {
    width: 250px;
    text-align: center;
  }
}
