.container-format {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.item-desc {
  max-width: 650px;
  padding-right: 10px;
  padding-left: 30px;
}

.format-name{
  color: #D35563;
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
  padding-left: 30px;
}
.item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}